* {
    box-sizing: border-box;
}

#main-pane {
    position: absolute;
    left: 240px;
    top: 0;
    margin-top: 3em;
    width: calc(100vw - 240px);
    height: calc(100vh - 3em);
    background-color: rgba(255, 255, 255, .05);
}

#settings-cog {
    width: 2.1em;
    margin: .6em;
}

#settings-cog:hover {
    transform: rotate(90deg);
    transition: all .5s;
}

#settings-cog:active {
    transition: none;
    filter: opacity(.3);
}

.dark-mode #settings-cog:active {
    filter: invert() brightness(.3);
}

#settings-page {
    transition: transform 1s;
    width: 242px;
    height: calc(100vh - 3em);
    margin-top: 3em;
    z-index: 1001;
    position: fixed;
    top: 0;
    background-color: #e2e2e2;
}

.dark-mode #settings-page {
    background-color: #2a2a2a;
}

.settings-closed {
    transform: translateX(-245px);
}

.settings {
    margin: 1em 0 1em 1em;
    text-transform: capitalize;
    font-size: 1.3em;
}

.settings label:last-child {
    margin: 1em 0 1em .5em;
}

.settings p {
    margin-left: 20px;
    text-transform: none;
}

#reset-default-settings {
    font-size: 1em;
    border-radius: 1em;
    height: 1.75em;
}

#zoom-level input {
    width: 3.4em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3.5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 23px;
}

.slider.round:before {
    border-radius: 50%;
}


#icon {
    width: 2.7em;
    height: 2.7em;
    margin-right: 10px;
    background-size: 1.5em;
}

.dark-mode #icon {
    filter: brightness(100);
}

#titlebar {
    display: block;
    position: fixed;
    height: 3em;
    margin-left: 0;
    width: 100vw;
    padding: 4px;
    background: #FFF;
    color: #000000;
    top: 0;
}

.dark-mode #titlebar {
    background: #000000;
    color: #FFF;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(4, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#min-button {
    grid-column: 2;
}

#max-button, #restore-button {
    grid-column: 3;
}

#close-button {
    grid-column: 4;
}

#settings-cog {
    grid-column: 1;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #F1707A !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#restore-button {
    display: none !important;
}

.dark-mode .icon {
    filter: invert();
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 1.8em;
}

.maximized #window-title {
    margin-left: 12px;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}

.center {
    position: absolute;
    left: 45%;
    top: 60%;
}

#download-status.center {
    left: 35%;
}

#date-input.data-loaded {
    position: fixed;
    top: 95vh;
    left: 17px;
}

.dark-mode #date-input.data-loaded {
    background-color: #444444;
    color: rgb(190, 190, 190);
}

.dark-mode input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: black;
    outline: none;
}

.dark-mode .components:hover, .dark-mode .app-component:hover, .dark-mode #unselect-apps:hover {
    background-color: #222;
}

.components:hover, .app-component:hover, #unselect-apps:hover {
    background-color: rgba(0, 0, 0, .2);
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

body.dark-mode {
    background-color: #3a3a3a;
    color: white;
}

#duration {
    position: absolute;
    left: 250px;
    top: 1em;
}

#container {
    display: flex;
    flex-direction: initial;
    text-align: center;
    margin-top: 3em;
    height: calc(100vh - 3em);
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.error {
    color: red;
    font-weight: 700;
}

#instructions a {
    color: #f8981d;
    border: none;
}

#csv-input {
    visibility: hidden;
}

#drag-n-drop {
    width: 96vw;
    height: 96vh;
    position: fixed;
    left: 2vw;
    top: 2vh;
    border-radius: 5%;
    visibility: visible;
}

#drag-n-drop.highlight {
    border: .4rem dashed black;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .2);
}

.hidden {
    display: none;
}

.unchecked {
    color: rgba(0, 0, 0, .4);
    font-weight: normal;
}

.dark-mode .unchecked {
    color: rgba(255, 255, 255, .4);
}

#app-drawer {
    position: relative;
    width: 240px;
    display: flex;
    flex-direction: column;
    flex: 6 1;
    overflow-y: auto;
}

#app-components, #action-components {
    overflow-y: auto;
    font-weight: bold;
}

.section, #record-section {
    max-height: 87vh;
    overflow-y: auto;
    color: black;
}

#top-tags-table {
    min-width: 550px;
}

::-webkit-scrollbar {
    width: 0;
}

td, th {
    padding: .4em 1em;
    text-align: left;
}

.header {
    font-weight: bolder;
    color: black;
    font-size: initial;
    height: 2em;
    text-transform: capitalize;
}

.header span {
    line-height: 1.2;
}

tr {
    border: 1px solid black;
    height: 2em;
}

.record-row:hover, .tag-row:hover, .zoom-row:hover {
    background-color: gray;
    border: 1px solid black;
}

table {
    background-color: darkgray;
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;
}

thead {
    position: sticky;
    top: 0;
}

.dark-mode #l-h, .dark-mode #r-h {
    background-color: white;
}

.handle {
    top: 0;
    right: 0;
    width: 2px;
    position: absolute;
    cursor: ew-resize;
    background-color: black;
}

.handle:hover {
    width: 3px;
}

.checkbox-border {
    cursor: auto;
}

.checkbox-border:hover {
    width: 2px;
}

.title-col, .app-col {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 20em;
}

.title-col {
    min-width: 20em;
}

.app-col {
    width: 8em;
    max-width: 7em;
}

#title-search-bar {
    background-color: lightgrey;
    outline: none;
    border: none;
    margin-left: 1em;
}

#title-search-bar:focus, #merge-tag-input input:focus {
    outline: none;
}

.time-col {
    min-width: 7em;
    white-space: nowrap;
}

.top-tags-row .time-col {
    width: 9em;
}

.page-controls {
    display: block;
    height: 29.78px;
    text-align: center;
    font-weight: bolder;
    font-size: small;
    background-color: darkgray;
    border: 2px solid black;
    line-height: 2;
}

.close-button {
    font-weight: bolder;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    font-size: smaller;
    z-index: 2;
    color: rgba(0, 0, 0, .6);
    right: 0;
    top: 0;
}

.close-section {
    right: 4px;
    top: 4px;
    width: 28px;
    height: 28px;
    line-height: 1.9;
}

#table-tab {
    border: 1px solid black;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px;
    width: 65px;
    margin-right: 10px;
    text-align: center;
}

#tabs {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.go-to-page, .page-numbering {
    width: 39px;
    margin-right: 20px;
}

.go-to-page::-webkit-outer-spin-button, .go-to-page::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.go-to-page[type=number] {
    -moz-appearance: textfield;
}

.go-to-page, select {
    background-color: lightgrey;
    outline: none;
    border: none;
}

.page-arrows, .expand-arrow {
    font-size: 30px;
    line-height: .6;
    margin: 0 10px;
}

.expand-arrow {
    margin: -10px 0;
    line-height: normal;
}

.expand-arrow {
    font-weight: bolder;
    display: inline-block;
}

.expand-open {
    transform: rotate(90deg);
    transform-origin: left;
    margin: -10px -5px 0 19px;
}

.add-custom-action {
    filter: grayscale() brightness(0);
    margin-left: 6px;
}

#edit-input {
    margin-left: -20px;
}

.add-custom-input {
    margin: 20px 0 0;
    display: flex;
    align-content: center;
}

.dark-mode .add-custom-action {
    filter: grayscale() brightness(100);
}

.add-custom-action:hover {
    filter: none;
}

.add-custom-action.delete {
    color: rgb(163, 0, 0);
}

.add-custom-action.edit {
    color: rgb(194, 143, 0);
}

.add-custom-action.approve {
    color: rgb(1, 138, 24);
}

.right-arrows, .left-arrows {
    position: absolute;
    margin-top: -24px;
    width: 50px;
    display: flex;
}

.right-arrows {
    right: 0;
    justify-content: flex-end;
}

.left-arrows {
    margin-top: 1px;
    left: 0;
    justify-content: flex-start;
}

#download-status, #tag-exists-error, #custom-folder-error {
    position: fixed;
    text-align: center;
    color: red;
    opacity: 0;
    transition: all .75s;
    -webkit-animation: softFadeInOut 2.5s;
    animation: softFadeInOut 2.5s;
}

#download-status {
    -webkit-animation: softFadeInOut 4.5s;
    animation: softFadeInOut 4.5s;
    font-weight: bold;
    font-size: x-large;
}

#tag-exists-error, #custom-folder-error {
    top: 72vh;
    left: 20px;
    width: 200px;
}

#custom-folder-error {
    position: relative;
    font-size: smaller;
    left: -20px;
    top: auto;
}

#tag-exists-error {
    width: fit-content;
    font-weight: bold;
}

@keyframes softFadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes softFadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tags {
    border-radius: .9em;
    background-color: #0075ff;
    padding: .3em .9em;
    margin-right: .3em;
    display: inline;
    white-space: nowrap;
    color: white;
}

.tags:hover {
    padding: .3em .1em .3em .9em;
}

.top-tags-row .tags:hover {
    padding: .3em .9em;
}

.delete-tag, .add-tag {
    border-radius: 3em;
    background-color: gray;
    padding: .2em .5em;
    margin-left: .4em;
    font-family: sans-serif;
}

.add-tag {
    color: white;
    margin-left: .3em;
    background-color: #0075ff;
}

.tags-col {
    min-width: 15em;
    padding: .5em .4em .4em;
}

#tag-search {
    width: 6em;
}

.tag-search-result {
    min-width: 6em;
    max-width: 6em;
    margin: 0;
}

.tag-search-result:hover, .key-focus {
    background-color: darkgray;
}

#tags-dropdown {
    position: absolute;
    min-width: 6em;
    max-width: 6em;
    background-color: white;
    padding: .1em;
    overflow-y: auto;
}

.tool-tip {
    visibility: hidden;
    padding: .4em 1em;
    background-color: rgb(107, 107, 107);
    border-radius: .2em;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s;
    left: 0;
    top: 0;
}

.title-col:hover .tool-tip {
    visibility: visible;
    opacity: 1;
}

#modal-background {
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#tag-modal {
    background-color: rgb(199, 199, 199);
    position: absolute;
    border-radius: .75vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: black;
}

#tag-modal div {
    text-align: left;
    padding: 2%;
    border-radius: .6rem;
}

#tag-modal div h3 {
    color: rgb(77, 77, 77)
}

#tag-modal div.tag-option:hover {
    background-color: gray;
}

.hide-option {
    -webkit-animation: optionFadeOut .8s;
    animation: optionFadeOut .8s;
}

#merge-tag-input, #merge-tag-input input {
    padding: 2%;
    margin: 1vw 0 0;
    font-size: large;
}

#merge-tag-input label {
    margin-right: .8rem;
}

@keyframes optionFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes optionFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#tag-modal-button {
    display: inline-block;
    width: fit-content;
    padding: .4rem;
    border-radius: .4rem;
    font-size: large;
}

.bring-to-front {
    z-index: 1000;
}

#custom-context-menu {
    width: 170px;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    color: black;
    box-shadow: 6px 6px 4px -2px rgba(0, 0, 0, .4);
    outline: 2px solid rgba(0, 0, 0, .05);
    z-index: 2000;
}

.context-menu-option {
    padding: .6em;
    margin: .35em 0;
}

.context-menu-option:hover {
    background-color: rgba(0, 0, 0, .07);
}

#add-custom-save-location-container select {
    padding: 2px;
    background-color: white;
    margin-top: 15px;
}

#timeline, #tl-container, #select-time-frame {
    width: 96%;
    height: 26vh;
    background-color: darkgray;
    margin: 2% 2%;
    z-index: 2000;
}

.dark-mode #timeline, .dark-mode #tl-container, .dark-mode #select-time-frame {
    background-color: #222;
}

#timeline {
    border: 2px solid black;
    ;
    margin: 0;
    display: flex;
    flex-direction: column;
    cursor: ns-resize;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
}

#tl-container, #select-time-frame {
    height: 7em;
}

#app-compilation {
    display: flex;
    flex-direction: row;
    padding: 2%;
    height: 8em;
    cursor: auto;
}

.timeline-event, .select-timeframe-event {
    height: 3em;
    position: fixed;
    display: inline-block;
    cursor: auto;
}

.dark-mode .timeline-event:hover {
    background-color: white !important;
}

.timeline-event:hover {
    background-color: darkgray !important;
}

.select-timeframe-event {
    height: 2em;
}

#selection-box {
    height: 4em;
    position: fixed;
    z-index: 2001;
    box-sizing: border-box;
    cursor: move;
    background-color: rgba(0, 0, 0, .05);
}

.dark-mode #selection-box {
    background-color: rgba(255, 255, 255, .05);
}

#l-h, #r-h {
    height: 4em;
    position: fixed;
    width: 5px;
}

#l-h:hover, #r-h:hover {
    width: 10px;
}

#l-h:hover {
    margin-left: -2.5px;
}

.dark-mode .hover-card {
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

.hover-card {
    background-color: rgba(255, 255, 255, .9);
    padding: 1em;
    position: absolute;
    z-index: 2002;
    text-align: center;
    max-width: 25em;
    border: 1px solid black;
}

#hour-markers {
    display: flex;
    position: relative;
    margin-left: 4%;
    align-content: space-between;
    cursor: auto;
}

.hour-marker {
    text-align: center;
}

#input-pane {
    flex-direction: column;
    width: 240px;
    height: calc(100vh - 3em);
    border-right: 1px solid #222;
}

#component-inputs {
    flex: 3.1 3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.components, .app-component {
    padding: 10px 20px;
    text-transform: capitalize;
    display: block;
}

.app-filter, #unselect-all-apps {
    appearance: none;
    -webkit-appearance: none;
}

#component-inputs h2, #app-drawer h2 {
    background-color: rgba(0, 0, 0, .1);
    margin: 0;
    padding: 10px 14px;
}

.dark-mode #component-inputs h2, .dark-mode #app-drawer h2 {
    background-color: #000000;
}

#component-inputs h2:hover, #app-drawer h2:hover {
    background-color: rgba(0, 0, 0, .2);
}

.dark-mode #component-inputs h2:hover, .dark-mode #app-drawer h2:hover {
    background-color: #222;
}

#unselect-apps {
    font-size: large;
    padding: 10px 7px;
    font-weight: bold;
}

.dark-mode #unselect-apps {
    font-weight: normal;
}